<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Factory Management System</title>
    @RenderSection("additionalStyles", required: false)
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        @RenderBody()
    </div>
    @RenderSection("additionalScripts", required: false)
</body>
</html>

