
<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        <b>Developed by:</b> Horizon Solutions
    </div>
    <strong>Copyright &copy; <script> document.write(new Date().getFullYear());</script> <a href="#"> Company Name </a>.</strong> All rights reserved.
</footer>
