<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FMS</title>
    @RenderSection("additionalStyles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @await Html.PartialAsync("_Header")
        @await Html.PartialAsync("_Sidebar")
        <div id="app-content">
            @RenderBody()
        </div>
        @await Html.PartialAsync("_Footer")
    </div>
    @RenderSection("additionalScripts", required: false)
</body>
</html>
