@{
    Layout = "_Layout";
    ViewData["Title"] = "Damage";
}
@section additionalStyles {
    <style>
        .cust-btn {
            margin-top: 32px !important;
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-Damage" data-toggle="pill" href="#Damage" role="tab" aria-controls="Damage" aria-selected="true"><b>Damage</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-DamageList" data-toggle="pill" href="#DamageList" role="tab" aria-controls="DamageList" aria-selected="false"><b>Damage List</b></a>
                        </li>
                    </ul>
                    <div class="tab-content pt-3" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="Damage" role="tabpanel" aria-labelledby="tab-Damage">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <div class="row">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-----------To Branch-------------->
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Damage</b></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <input type="hidden" name="hdnDamageOrderId" value="" />
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Transaction Date</label>
                                                        <div class="input-group  date" id="reservationdate3" data-target-input="nearest">
                                                            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate3" name="TransactionDate" />
                                                            <div class="input-group-append" data-target="#reservationdate3" data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Transaction No</label>
                                                        <input type="text" class="form-control" disabled name="TransactionNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Product Type</label>
                                                        <select class="form-control select2bs4" style="width: 100%" name="ddlProductTypeId" tabindex="1">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-------------Inward Suppply------------------>
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Products</b></h3>
                                            <button class="btn btn-primary btn-link" id="addDamageRowBtn" tabindex="2" style="border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px; float:right"> <i class="fa-solid fa-plus"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-12 table-responsive">
                                                    <div id="loader" style="display:none;"></div>
                                                    <table id="tblDamage" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr style="text-align:center">
                                                                <th hidden>InwardSupplyId</th>
                                                                <th style="width:30%">Product Name</th>
                                                                <th style="width:15%">Quantity</th>
                                                                <th style="width:15%">Rate</th>
                                                                <th style="width:15%">Amount</th>
                                                                <th style="width:10%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-8"></div>
                                                <div class="col-md-4 table-responsive pt-1">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Total Amt:</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" name="GrandTotal" value="0" disabled></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Labour (Optional)</label>
                                                        <select class="form-control select2bs4" style="width: 100%" name="ddlLabourId" tabindex="3">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Reason</label>
                                                        <textarea class="form-control" rows="3" placeholder="Enter ..." name="Reason"
                                                                  tabindex="4"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button" id="btnSave" tabindex="5" class="btn btn-primary" style="float:right">Submit</button>
                                            <button type="button" id="btnUpdate" tabindex="6" class="btn btn-primary" style="float:right; display:none">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="DamageList" role="tabpanel" aria-labelledby="tab-DamageList">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Damage List
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="loader" style="display:none;"></div>
                                        <div class="tblDamageList">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
@section additionalScripts {
    <!--Fontawsome Kit-->
    <script src="https://kit.fontawesome.com/70d8db024d.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--date Format-->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--Page Script-->
    <script src="~/viewscripts/transaction/damagetransaction.js"></script>
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $('#reservationdate1').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate2').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate3').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}
