﻿@{
    Layout = "_Layout";
    ViewData["Title"] = "Purchase";
}
@section additionalStyles {
    <style>
        .cust-btn {
            margin-top: 32px !important;
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <link href="~/viewstyles/loader.css" rel="stylesheet" />
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-CreatePurchase" data-toggle="pill" href="#CreatePurchase" role="tab" aria-controls="CreatePurchase" aria-selected="true"><b>Purchase</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-PurchaseList" data-toggle="pill" href="#PurchaseList" role="tab" aria-controls="PurchaseList" aria-selected="false"><b>Purchase List</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-CreatePurchaseReturn" data-toggle="pill" href="#CreatePurchaseReturn" role="tab" aria-controls="CreatePurchaseReturn" aria-selected="false"><b>Purchase Return</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-PurchaseReturnList" data-toggle="pill" href="#PurchaseReturnList" role="tab" aria-controls="PurchaseReturnList" aria-selected="false"><b>Purchase Return List</b></a>
                        </li>
                    </ul>
                    <div class="tab-content pt-3" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="CreatePurchase" role="tabpanel" aria-labelledby="tab-CreatePurchase">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <div class="row">
                                        <input type="hidden" name="hdnPurchaseOrderId" value="" />
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="pt-2">Transaction Date</label>
                                                <div class="input-group  date" id="reservationdate3" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate3" name="TransactionDate" />
                                                    <div class="input-group-append" data-target="#reservationdate3" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="pt-2">Product  Type</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="ddlProductType" tabindex="1">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                            <div class="form-group row mt-1 float-right">
                                                <label class="pt-2">Transaction No</label>
                                                <input type="text" class="form-control" disabled name="TransactionNo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-----------Supplyer-------------->
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Supplier</b></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Supplier Name</label>
                                                        <select class="form-control select2bs4" style="width: 100%" name="ddlSupplyerId" tabindex="1">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Mat. Recive No</label>
                                                        <input type="text" class="form-control" id="" name="InvoiceNo" tabindex="2">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">Mat. Recive date</label>
                                                        <div class="input-group  date" id="reservationdate1" data-target-input="nearest">
                                                            <input type="text" class="form-control  datetimepicker-input" data-target="#reservationdate1" name="InvoiceDate" tabindex="3" />
                                                            <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label>Vehicle No</label>
                                                        <input type="text" class="form-control" id="" name="VehicleNo" tabindex="6">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Transpoter Name</label>
                                                        <input type="text" class="form-control" id="" name="TranspoterName" tabindex="7">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Receiving Person</label>
                                                        <input type="text" class="form-control" id="" name="ReceivingPerson" tabindex="8">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-------------Purchase------------------>
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Purchase</b></h3>
                                            <button class="btn btn-primary btn-link" id="addPurchaseRowBtn" tabindex="9" style="border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px; float:right"> <i class="fa-solid fa-plus"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div id="loader" style="display:none;"></div>
                                                <div class="col-md-12 table-responsive">
                                                    <table id="tblPurchase" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr style="text-align:center">
                                                                <th hidden>PurchaseId</th>
                                                                <th style="width:15%">Product Name</th>
                                                                <th style="width:15%" colspan=2>Qty</th>
                                                                <th style="width:10%">Qty Unit</th>
                                                                <th style="width:10%">Rate</th>
                                                                <th style="width:10%">Disc %</th>
                                                                <th style="width:10%">Disc Amt</th>
                                                                <th style="width:5%">GST</th>
                                                                <th style="width:10%">GST Amt</th>
                                                                <th style="width:10%">Amount</th>
                                                                <th style="width:5%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table id="tblGstdifference" style="border:none">
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <div class="form-group">
                                                                <label>Narration:</label>
                                                                <textarea class="form-control" rows="2" placeholder="Enter ..." name="NarrationPurchase"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4  table-responsive pt-1">
                                                    <table class="table">
                                                        <tr>
                                                            <th style="width:40%">Sub total</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" name="SubTotal" value="0" disabled></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Discount (-)</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" value="0" name="TotalDiscountAmount" disabled></td>
                                                        </tr>
                                                        <tr>
                                                            <th>GST Amount (+)</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" value="0" name="GstAmount" disabled></td>
                                                        </tr>

                                                        <tr>
                                                            <th>Transport Crgs.(+)</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" value="0" name="TransportationCharges"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Grand Amt:</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" name="GrandTotal" value="0" disabled></td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" id="btnSave" tabindex="10" class="btn btn-primary" style="float:right">Submit</button>
                                            <button type="button" id="btnUpdate" tabindex="11" class="btn btn-primary" style="float:right; display:none">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="PurchaseList" role="tabpanel" aria-labelledby="tab-PurchaseList">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Purchase List
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="loader" style="display:none;"></div>
                                        <div class="tblPurchaseList">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="CreatePurchaseReturn" role="tabpanel" aria-labelledby="tab-CreatePurchaseReturn">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <div class="row">
                                        <input type="hidden" name="hdnPurchaseReturnOrderId" value="" />
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="pt-2">Transaction Date</label>
                                                <div class="input-group  date" id="reservationdate4" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate4" name="Pr_TransactionDate" />
                                                    <div class="input-group-append" data-target="#reservationdate4" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="pt-2">Product  Type</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="Pr_ddlProductType" tabindex="1">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                            <div class="form-group row mt-1 float-right">
                                                <label class="pt-2">Transaction No</label>
                                                <input type="text" class="form-control" disabled name="Pr_TransactionNo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <!-----------Supplyer-------------->
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Supplier</b></h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label>Supplier Name</label>
                                                        <select class="form-control select2bs4" style="width: 100%" name="Pr_ddlSupplyerId" tabindex="12">
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Mat. Recive No</label>
                                                        <input type="text" class="form-control" id="" name="Pr_InvoiceNo" tabindex="13">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label for="">Mat. Recive date</label>
                                                        <div class="input-group  date" id="reservationdate5" data-target-input="nearest">
                                                            <input type="text" class="form-control  datetimepicker-input" data-target="#reservationdate5" name="Pr_InvoiceDate" tabindex="14" />
                                                            <div class="input-group-append" data-target="#reservationdate5" data-toggle="datetimepicker">
                                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label>Vehicle No</label>
                                                        <input type="text" class="form-control" id="" name="Pr_VehicleNo" tabindex="17">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Transpoter Name</label>
                                                        <input type="text" class="form-control" id="" name="Pr_TranspoterName" tabindex="18">
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <label>Receiving Person</label>
                                                        <input type="text" class="form-control" id="" name="Pr_ReceivingPerson" tabindex="19">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-------------Purchase Return------------------>
                                    <div class="card card-primary">
                                        <div class="card-header">
                                            <h3 class="card-title"><b>Purchase Return</b></h3>
                                            <button class="btn btn-primary btn-link" id="addPurchaseReturnRowBtn" style="border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px; float:right" tabindex="20"> <i class="fa-solid fa-plus"></i></button>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div id="loader" style="display:none;"></div>
                                                <div class="col-md-12 table-responsive">
                                                    <table id="tblPurchaseReturn" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr style="text-align:center">
                                                                <th hidden>PurchaseId</th>
                                                                <th style="width:15%">Product Name</th>
                                                                <th style="width:15%" colspan=2>Qty</th>
                                                                <th style="width:10%">Qty Unit</th>
                                                                <th style="width:10%">Rate</th>
                                                                <th style="width:10%">Disc %</th>
                                                                <th style="width:10%">Disc Amt</th>
                                                                <th style="width:5%">GST</th>
                                                                <th style="width:10%">GST Amt</th>
                                                                <th style="width:10%">Amount</th>
                                                                <th style="width:5%">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <table id="tblPrGstdifference" class="table">
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                        <div class="col-md-12 mt-3">
                                                            <div class="form-group">
                                                                <label>Narration:</label>
                                                                <textarea class="form-control" rows="2" placeholder="Enter ..." name="NarrationPurchaseReturn"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-md-4 table-responsive pt-1">
                                                    <table class="table">
                                                        <tr>
                                                            <th style="width:40%">Sub total</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" name="Pr_SubTotal" value="0" disabled></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Discount (-)</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" value="0" name="Pr_DiscountAmount" disabled></td>
                                                        </tr>
                                                        <tr>
                                                            <th>GST Amount (+)</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" value="0" name="Pr_GstAmount" disabled></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Transport Crgs.(+)</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" value="0" name="Pr_TransportationCharges"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Grand Amt:</th>
                                                            <td><input type="text" class="form-control form-control-sm" id="" name="Pr_GrandTotal" value="0" disabled></td>
                                                        </tr>

                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="button" id="Pr_btnSave" tabindex="21" class="btn btn-primary" style="float:right">Submit</button>
                                            <button type="button" id="Pr_btnUpdate" tabindex="22" class="btn btn-primary" style="float:right; display:none">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="PurchaseReturnList" role="tabpanel" aria-labelledby="tab-PurchaseReturnList">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Purchase Return List
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="loader" style="display:none;"></div>
                                        <div class="tblPurchaseReturnList">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
@section additionalScripts {
    <!--Fontawsome Kit-->
    <script src="https://kit.fontawesome.com/70d8db024d.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--date Format-->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--Page Script-->
    <script src="~/viewscripts/transaction/purchasetransaction.js"></script>
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        $('#reservationdate1').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate2').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate3').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate5').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate6').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}
