@{
    ViewData["Title"] = "Service";
    Layout = "_Layout";
}
@section additionalStyles {
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-CreateServiceEntry" data-toggle="pill" href="#CreateServiceEntry" role="tab" aria-controls="CreateServiceEntry" aria-selected="true"><b>Service Entry</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-ServiceEntryList" data-toggle="pill" href="#ServiceEntryList" role="tab" aria-controls="ServiceEntryList" aria-selected="false"><b>Service Entry List</b></a>
                        </li>
                    </ul>
                    <div class="tab-content pt-3" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="CreateServiceEntry" role="tabpanel" aria-labelledby="tab-CreateServiceEntry">
                           
                                
                                    <div class="row">
                                        <div class="col-md-12">
                                                <div class="card-body">
                                                    <div class="card card-primary">
                                                        <div class="card-header">
                                                            <h3 class="card-title"><b>Service Entry</b></h3>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label class="pt-2">Service Date</label>
                                                                        <div class="input-group  date" id="reservationdate" data-target-input="nearest">
                                                                            <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate" name="ServiceDate" tabindex="1" />
                                                                            <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <label class="pt-2">Transaction No</label>
                                                                        <input type="text" class="form-control" disabled name="TransactionNo">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label class="pt-2">Labour Name</label>
                                                                    <div class="form-group">
                                                                        <select class="form-control select2bs4 labour" style="width: 100%;" name="ddlLabourId" tabindex="2">
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label class="pt-2">Labour Type</label>
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" disabled name="LabourType" value="N/A" tabindex="3">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div id="loader" style="display:none;"></div>
                                                                    <table id="tblServiceEntry" class="table table-bordered table-hover">
                                                                        <thead>
                                                                            <tr>
                                                                                <th style="width:25%">Service Good</th>
                                                                                <th style="width:15%">Quantity</th>
                                                                                <th style="width:15%">Rate</th>
                                                                                <th style="width:10%">Oth. Chrg</th>
                                                                                <th style="width:15%">Narration</th>
                                                                                <th style="width:10%">Amount</th>
                                                                                <th style="width:10%">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> <div class="form-group"><select class="form-control select2bs4 ServiceGood" style="width: 100%;" name="ddlServiceGoodId"></select></div></td>
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <div class="input-group">
                                                                                            <input type="text" class="form-control qty" value="0"> <div class="input-group-append"><span class="input-group-text" id="Unit">N/A</span></div>
                                                                                        </div>
                                                                                    </div>

                                                                                </td>
                                                                                <td><div class="form-group"><input type="text" class="form-control rate" disabled></div></td>
                                                                                <td><div class="form-group"><input type="text" class="form-control otamount" value="0"></div></td>
                                                                                 <td><div class="form-group"><input type="text" class="form-control narration"></div></td>
                                                                                <td><div class="form-group"><input type="text" class="form-control amount" disabled></div></td>
                                                                                <td style="background-color:#ffe6e6;">
                                                                                    <button class="btn btn-primary btn-link addBtn" style="border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px;"> <i class="fa-solid fa-plus"></i></button>
                                                                                    <button class="btn btn-primary btn-link deleteBtn" style="border: 0px;color: #fff; background-color:#FF0000; border-color: #3C8DBC; border-radius: 4px;" disabled> <i class="fa-solid fa-trash-can"></i></button>
                                                                                </td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                                <div class="col-md-10">
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <div class="form-group">
                                                                        <label class="pt-2">Total Amount</label>
                                                                        <input type="text" class="form-control" disabled name="TotalAmount">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button type="button" id="btnSave" class="btn btn-primary" style="float:right">Submit</button>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                               
                           
                        </div>
                        <div class="tab-pane fade" id="ServiceEntryList" role="tabpanel" aria-labelledby="tab-ServiceEntryList">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Service Entry List
                                </div>
                                <div class="card-body">
                                    <div class="col-md-12">
                                        <div id="loader" style="display:none;"></div>
                                        <div class="tblServiceEntryList">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--MODAL-->
<div class="modal fade" id="modal-edit-service-entry">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlServiceEntryId" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Transaction No</label>
                            <input type="text" class="form-control" id="" name="mdlTransactionNo" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Production Date</label>
                            <div class="input-group  date" id="reservationdate1" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate1" name="mdlTransactionDate" />
                                <div class="input-group-append" data-target="#reservationdate1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Product Name</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlProductId">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Labour Name</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlLabourId">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Labour Type</label>
                            <input type="text" class="form-control" id="" name="mdlLabourType" disabled value="N/A">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" class="form-control" id="" name="mdlQuantity" value="0">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rate</label>
                            <input type="text" class="form-control" id="" name="mdlRate" value="0" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>OTAmount</label>
                            <input type="text" class="form-control" id="" name="mdlOtAmount" value="0">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Narration</label>
                            <input type="text" class="form-control" id="" name="mdlnarration" value="0">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" class="form-control" id="" name="mdlAmount" value="0" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnUpdate">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!--.END MODAL-->
<!--Script Section -->
@section additionalScripts {
    <!--Fontawsome Kit-->
    <script src="https://kit.fontawesome.com/70d8db024d.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--date Format-->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--Page Script-->
    <script src="~/viewscripts/Transaction/services.js"></script>
    @if (TempData["SuccessMsg"] != null)
    {
        <script>
            toastr.success('@TempData["SuccessMsg"]');
        </script>
    }
    @if (TempData["ErrorMsg"] != null)
    {
        <script>
            toastr.error('@TempData["ErrorMsg"]');
        </script>
    }
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate1').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}


