@*@using namespace
@model modelType*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "";
}
@section additionalStyles {
    <style>
        .cust-btn {
            margin-top: 32px !important;
        }
    </style>
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Ledger Master
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-3">
                                            <label class="pt-2">For Branch:</label>
                                        </div>
                                        <div class="col-9">
                                            <select class="form-control select2bs4" style="width: 100%;" name="ddlLedgerBranchId" id="">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="tblLedger">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!--MODAL-->
<div class="modal fade" id="modal-edit-ledger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Ledger</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input type="hidden" name="mdlLedgerId" />
                    <input type="hidden" name="mdlBranchId" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Group</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlLedgerGroupId">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>SubGroup(Optional)</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlLedgerSubGroupId">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Ledger Name</label>
                            <input type="text" class="form-control" id="" name="mdlLedgerName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Ledger Type</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlLedgerType">
                                <option value="None">None</option>
                                <option value="Cash">Cash</option>
                                <option value="Bank">Bank</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Opening Balance</label>
                            <input type="text" class="form-control" id="" name="mdlOpeningBalance">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Opening Balance Type</label>
                            <select class="form-control select2bs4" style="width: 100%;" name="mdlOpeningBalanceType">
                                <option value="CR">CR</option>
                                <option value="DR">DR</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btnLedgerModal">Save changes</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section additionalScripts {
    <script src="~/scripts/formscript.js"></script>
    <script src="~/viewscripts/devlopermaster/ledger.js"></script>
}
