@{
    ViewData["Title"] = "Payment";
    Layout = "_Layout";
}
@section additionalStyles {
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tab-Payment" data-toggle="pill" href="#Payment" role="tab" aria-controls="Payment" aria-selected="true"><b>Payment</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab-PaymentList" data-toggle="pill" href="#PaymentList" role="tab" aria-controls="PaymentList" aria-selected="false"><b>Payment List</b></a>
                </li>
            </ul>
            <div class="tab-content pt-3" id="custom-content-below-tabContent">
                <div class="tab-pane fade show active" id="Payment" role="tabpanel" aria-labelledby="tab-Payment">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <div id="loader" style="display:none;"></div>
                                    <h3 class="card-title">Payment Voucher</h3>
                                    <button class="btn btn-primary btn-link" id="addPaymentRowBtn" style="border: 0px;color: #fff; background-color:#337AB7; border-color: #3C8DBC; border-radius: 4px; float:right"> <i class="fa-solid fa-plus"></i></button>
                                </div>

                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Payment Mode</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="PaymentMode">
                                                    <option value="Cash" selected>Cash</option>
                                                    <option value="Bank">Bank</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group hdndiv" style="display:none">
                                                <label>Bank</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="ddlBankId">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group hdndiv" style="display:none">
                                                <label>Chq No/DD No</label>
                                                <input type="text" class="form-control" name="ChqNo">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group hdndiv" style="display:none">
                                                <label>Chq No/DD Date</label>
                                                <div class="input-group  date" id="reservationdate4" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate4" name="ChqDate" />
                                                    <div class="input-group-append" data-target="#reservationdate4" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Voucher Date</label>
                                                <div class="input-group  date" id="reservationdate3" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#reservationdate3" name="VoucherDate" />
                                                    <div class="input-group-append" data-target="#reservationdate3" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>Voucher No</label>
                                                <input type="text" class="form-control" disabled name="VoucherNo">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <table class="table" id="tblPayment">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 80%;">Payment</th>
                                                        <th style="width: 20%;">Dr</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Narration:</label>
                                                <textarea class="form-control" rows="3" placeholder="Enter ..." name="Narration"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer clearfix">
                                    <button type="button" id="btnSave" class="btn btn-primary" style="float:right">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="PaymentList" role="tabpanel" aria-labelledby="tab-PaymentList">
                    <div class="card card-primary card-outline">
                        <div class="card-header ">
                            <i class="fa-solid fa-file-invoice"></i>
                            Payment List
                        </div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="loader" style="display:none;"></div>
                                    <div class="tblPaymentList" id="example2_wrapper">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
@section additionalScripts {
    <!--Fontawsome Kit-->
    <script src="https://kit.fontawesome.com/70d8db024d.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--date Format-->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--Page Script-->
    <script src="~/viewscripts/accounting/payment.js"></script>
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        $('#reservationdate3').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#reservationdate4').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}