@{
    ViewData["Title"] = "DaySheet";
    Layout = "_Layout";
}
@section additionalStyles {
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Day Sheet</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label> Date</label>
                                <div class="input-group  date" id="Date" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" data-target="#FromDateSummerized" name="Date" />
                                    <div class="input-group-append" data-target="#Date" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" id="btnView" class="btn btn-primary" style="float:left; margin-top:32px">View</button>
                        </div>
                        <div class="col-md-12 hdnDiv" style="display:none">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Cash Sales</label>
                                        <input type="text" class="form-control" id="" name="CashSale" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Opening Cash Bal.</label>
                                        <input type="text" class="form-control" id="" name="OpnCashBal" disabled>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Credit Sales</label>
                                        <input type="text" class="form-control" id="" name="CreditSale" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Opening Bank Bal.</label>
                                        <input type="text" class="form-control" id="" name="OpnBankBal" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div id="loader" style="display:none;"></div>
                            <div class="tblPurchase" id="example1_wrapper">
                            </div>
                            <div class="tblCreditSale" id="example1_wrapper">
                            </div>
                            <div class="tblCashSale" id="example1_wrapper">
                            </div>
                            <div class="tblRecive" id="example1_wrapper">
                            </div>
                            <div class="tblPayment" id="example1_wrapper">
                            </div>
                        </div>
                        <div class="col-md-12 hdnDiv" style="display:none">
                            <div class="row">
                                <div class="col-md-9"></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Closing Cash Bal</label>
                                        <input type="text" class="form-control" id="" name="ClosingCashBal" disabled>
                                    </div>
                                </div>
                                <div class="col-md-9"></div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Closing Bank Bal</label>
                                        <input type="text" class="form-control" id="" name="ClosingBankBal" disabled>
                                    </div>
                                    <button type="button" id="BtnPrint" class="btn btn-primary" style="float:right; margin-top:30px">Print</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section additionalScripts {
    <!--Fontawsome Kit-->
    <script src="https://kit.fontawesome.com/70d8db024d.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--date Format-->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--Page Script-->
    <script src="~/viewscripts/reports/daysheet.js"></script>
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $('#Date').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}
