@{
    Layout = "_Layout";
    ViewData["Title"] = "Supplyer Report";
}
@section additionalStyles {
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Supplyer Report</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <ul class="nav nav-tabs" id="custom-content-below-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-SummerizedReport" data-toggle="pill" href="#SummerizedReport" role="tab" aria-controls="SummerizedReport" aria-selected="true"><b>Summerized Report</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tab-DetailedReport" data-toggle="pill" href="#DetailedReport" role="tab" aria-controls="DetailedReport" aria-selected="false"><b>Detailed Report</b></a>
                        </li>
                    </ul>
                    <div class="tab-content pt-3" id="custom-content-below-tabContent">
                        <div class="tab-pane fade show active" id="SummerizedReport" role="tabpanel" aria-labelledby="tab-SummerizedReport">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Summerized List
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <div class="input-group  date" id="FromDateSummerized" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#FromDateSummerized" name="FromDateSummerized" />
                                                    <div class="input-group-append" data-target="#FromDateSummerized" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>To Date</label>
                                                <div class="input-group  date" id="ToDateSummerized" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#ToDateSummerized" name="ToDateSummerized" />
                                                    <div class="input-group-append" data-target="#ToDateSummerized" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Zero Valued</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="ddlZerovalued">
                                                    <option value="No" selected>No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" id="btnViewSummerized" class="btn btn-primary" style="float:left; margin-top:32px">View</button>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="loader" style="display:none;"></div>
                                            <div class="tblSummerizedList" id="example1_wrapper">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-9"></div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <button type="button" id="BtnPrintSummarized" class="btn btn-primary" style="float:right; display:none; margin-top:32px">Print</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="DetailedReport" role="tabpanel" aria-labelledby="tab-DetailedReport">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <i class="fa-solid fa-file-invoice"></i>
                                    Detailed List
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Supplyer Name</label>
                                                <select class="form-control select2bs4" style="width: 100%" id="SupplyerId" name="ddlSupplyerId">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>From Date</label>
                                                <div class="input-group  date" id="FromDateDetailed" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#FromDateDetailed" name="FromDateDetailed" />
                                                    <div class="input-group-append" data-target="#FromDateDetailed" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>To Date</label>
                                                <div class="input-group  date" id="ToDateDetailed" data-target-input="nearest">
                                                    <input type="text" class="form-control datetimepicker-input" data-target="#ToDateDetailed" name="ToDateDetailed" />
                                                    <div class="input-group-append" data-target="#ToDateDetailed" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Zero Valued</label>
                                                <select class="form-control select2bs4" style="width: 100%" name="ddlDetailedZerovalued">
                                                    <option value="No" selected>No</option>
                                                    <option value="Yes">Yes</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-10"></div>
                                        <div class="col-md-2 mb-2">
                                            <button type="button" id="btnViewDetailed" class="btn btn-primary" style="float:right">View</button>
                                        </div>
                                        <div class="col-md-12">
                                            <div id="loader" style="display:none;"></div>
                                            <div class="tblDetailedList" id="example2_wrapper">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-9"></div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <div class="form-group">
                                                            <button type="button" id="BtnPrintDetailed" class="btn btn-primary" style="float:right; display:none; margin-top:32px">Print</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
</div>
<!--MODAL Info-->
<div class="modal fade" id="modal-Supplyer-info">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Branch Wise Info</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tblSummerizedInfo">
                </div>
            </div>
        </div>
    </div>
</div>
<!---------->
@section additionalScripts {
    <!--Fontawsome Kit-->
    <script src="https://kit.fontawesome.com/70d8db024d.js" crossorigin="anonymous"></script>
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--date Format-->
    <script src="~/plugins/moment/moment.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- Toastr -->
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <!--Page Script-->
    <script src="~/viewscripts/reports/supplyerreport.js"></script>
    <script>
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        });
        $('#FromDateSummerized').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#ToDateSummerized').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#FromDateDetailed').datetimepicker({
            format: 'DD/MM/YYYY'
        });
        $('#ToDateDetailed').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    </script>
}
